<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8" />
  <title>Currículo</title>
  <link rel="icon" type="image/x-icon" href="images/favicon.png">
  <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
  <main class="h-fit p-20">
    <div class="flex flex-col h-full border-2 p-8 gap-6 border-gray-950">
      <div class="flex items-center">
        <img class="w-48 rounded-full" src="images/profile-photo.png" alt="Profile photo">
        <div class="basis-1/2 pl-12">
          <h1 class="text-4xl font-semibold">Richard Souza</h1>
          <div class="flex gap-2">
            <h3 class="font-medium">GitHub:</h3>
            <a class="text-sky-500" href="https://github.com/RichardSouzza">RichardSouzza</a>
          </div>
          <div class="flex gap-2">
            <h3 class="font-medium">Email:</h3>
            <a class="text-sky-500" href="mailto:richard.souzza@proton.me">richard.souzza@proton.me</a>
          </div>
        </div>
      </div>

      <div class="h-0.5 bg-gray-300"></div>

      <div>
        <h2 class="text-2xl font-semibold">Perfil</h2>
        <p>
          Programador backend, com experiência no desenvolvimento de
          serviços web utilizando tecnologias como Flask e MongoDB.
        </p>
      </div>

      <div class="h-0.5 bg-gray-300"></div>

      <div>
        <h2 class="text-2xl font-semibold">Projetos</h2>
        <div class="flex justify-between">
          <div class="flex flex-col justify-between basis-1/2 pr-4">
            <div>
              <h3 class="font-medium">CurrencyExchange</h3>
              <p>
                Uma API programada em Flask e com banco de dados MongoDB,
                que fornece a cotação diária para as principais moedas do mundo.
              </p>    
            </div>
            <div><a class="text-sky-500" href="https://github.com/RichardSouzza/CurrencyExchange">Link para o repositório</a></div>
          </div>
          <div class="flex flex-col justify-between basis-1/2">
            <div>
              <h3 class="font-medium">TicTacToe</h3>
              <p>
                Um jogo TicTacToe programado com KivyMD, onde utilizo fundamentos
                de programação orientada à objetos (POO) para criar um aplicativo
                multiplataforma modularizado.
              </p>
            </div>
            <div><a class="text-sky-500" href="https://github.com/RichardSouzza/TicTacToe">Link para o repositório</a></div>
          </div>
        </div>
      </div>

      <div class="h-0.5 bg-gray-300"></div>

      <div class="flex">
        <div class="basis-1/2">
          <h2 class="text-2xl font-semibold">Formação Acadêmica</h2>
          <h3 class="font-medium">Graduando em Ciência da Computação</h3>
          <p>Unit, 2023 -> Atualmente</p>
        </div>
        <div class="basis-1/2">
          <h2 class="text-2xl font-semibold">Habilidades</h2>
          <ul>
            <li>JavaScript</li>
            <li>Python</li>
            <li>Flask</li>
            <li>MongoDB</li>
          </ul>
        </div>
      </div>
    </div>
  </main>
</body>
</html>